<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<style>
h1 {
    margin-right: 50px;
}
.top{
    display: flex;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
}
</style>
<body>
    <div class=top>
        <h1>Edit User {{id}}</h1> 
        <a href="/">Home</a>
    </div>
    <form action="/{{id}}/update" method='post'>
    First Name: <input type='text' name='fname' value="{{user.first_name}}">
    Last Name: <input type='text' name='lname'  value="{{user.last_name}}">
    Email: <input type='text' name='email'  value="{{user.email}}">
    <input type='submit' value='Update'>
</body>
</html>