<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
</head>
<style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
    
    tr:nth-child(even) {
    background-color: #dddddd;
    }
    </style>
<body>
    <h1>All Users</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        {%for names in users%}
        <tr>
            <td>{{names["id"]}}</td>
            <td>{{names["first_name"]}} {{names["last_name"]}}</td>
            <td>{{names["email"]}}</td>
            <td>{{names["created_at"]}}</td>
            <td><a href="/{{names['id']}}">Show</a> | <a href="/{{names['id']}}/edit">Edit</a> | <a href="/{{names['id']}}/delete">Delete</a></td>
        </tr>
        {%endfor%}
    </table>
    <a href="/add_user">Add a New User</a>
</body>
</html>